{% extends "webarchive/base.html" %}
{% load form_tags %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<section class="section">
    <div class="container">

        <div class="columns">
            <div class="column is-half">
                <div class="box is-max-desktop">
                
                    <h2 class="title">Password Reset</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field">
                            {{ form.email.label_tag }}
                            <div class="control">
                                {{ form.email|add_class:"input" }}
                            </div>
                            {% if form.email.errors %}
                                <p class="help is-danger">{{ form.email.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">Reset Password</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}