{% extends 'webarchive/base.html' %}

{% block title %}About - 4Chan Thread Archive{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        
         <div class="box">
            <h1 class="title">About Threadark</h1>
            <p>Welcome to Threadark, the ultimate 4Chan thread archive. Our mission is to preserve and provide easy access to the most interesting and valuable threads from 4Chan.</p>
            <p>Threadark was created by a group of enthusiasts who wanted to ensure that the best content from 4Chan is never lost. We believe in the importance of preserving internet culture and history.</p>
            <p>Our archive is constantly growing, and we are always looking for new threads to add. If you have any suggestions or feedback, please feel free to contact us.</p>
        </div> <!--
    </div><!-- /.container -->
</section>
{% endblock %}