<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {% load static %}
   
    {% load pipeline %}
    {% load compress %}
    {% block extra_head %}{% endblock %}



    {% compress css %}
    {% stylesheet 'styles' %}
    {% endcompress %}
   
</head>
<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <h1>4Chan Thread Archive</h1>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'index' %}">
                        Home
                    </a>
                    <a class="navbar-item" href="{% url 'about' %}">
                        About
                    </a>
                    {% if user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">
                            Live Boards
                        </a>
                        <div class="navbar-dropdown">
                            {% for board in boards %}
                                {% if board.active %}
                                    <a class="navbar-item" href="{% url 'view_catalog_with_board' board.name|slice:'1:' %}">
                                        {{ board.name }}/ - {{ board.long_name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                                <!-- Add more boards as needed -->
                            </div>
                        </div>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="#">
                                Archives
                            </a>
                            <div class="navbar-dropdown">
                                {% for board in boards %}
                                    {% if board.active %}
                                        <a class="navbar-item" href="{% url 'view_archive_with_board' board.name|slice:'1:' %}">
                                            {{ board.name }}/ - {{ board.long_name }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                    <!-- Add more boards as needed -->
                                </div>
                            </div>
                            

                            
                                <a href="{% url 'logout' %}" class="navbar-item" >Logout</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="navbar-item" >Login</a>
                                <a href="{% url 'register' %}" class="navbar-item" >Register</a></li>
                            {% endif %}
                    
                </div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>&copy; 2023 FourChan Web Archive</p>
    </footer>
    {% compress js %}
    {% javascript 'scripts' %}
    {% endcompress %}
    
</body>
</html>