{% extends "webarchive/base.html" %}
{% load form_tags %}
{% block title %}Register{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <div class="box is-max-desktop">
                    <h2 class="title">Register</h2>
                    
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field">
                            {{ form.username.label_tag }}
                            <div class="control">
                                {{ form.username|add_class:"input" }}
                            </div>
                            {% if form.username.errors %}
                                <p class="help is-danger">{{ form.username.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            {{ form.email.label_tag }}
                            <div class="control">
                                {{ form.email|add_class:"input" }}
                            </div>
                            {% if form.email.errors %}
                                <p class="help is-danger">{{ form.email.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            {{ form.password1.label_tag }}
                            <div class="control">
                                {{ form.password1|add_class:"input" }}
                            </div>
                            {% if form.password1.errors %}
                                <p class="help is-danger">{{ form.password1.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            {{ form.password2.label_tag }}
                            <div class="control">
                                {{ form.password2|add_class:"input" }}
                            </div>
                            {% if form.password2.errors %}
                                <p class="help is-danger">{{ form.password2.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}