{% extends "webarchive/base.html" %}

{% block content %}
<div id="catalog" class="container">
    <div class="columns is-multiline">
        {% for thread in threads %}
        <div class="column is-one-third col-spacer">
            <div class="card-item card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <a href="{% url 'view_live_thread' board  thread.no %}">
                            <img src="{{ thread.image_url }}" alt="Thread Thumbnail">
                        </a>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <a href="{% url 'view_live_thread' board  thread.no %}">
                                <h3 class="title is-4">{{ thread.sub|truncatechars:60 }}</h3>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <p>{{ thread.com|truncatechars:200 }}</p>
                    </div>
                    <div class="metadata">
                        <p>Replies: {{ thread.replies }}</p>
                        <p>Last Updated: {{ thread.last_updated }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}