{% extends "webarchive/base.html" %}
{% load static %}
{% block extra_head %}
<link href="https://unpkg.com/tabulator-tables@5.2.7/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.2.7/dist/js/tabulator.min.js"></script>
{% endblock %}

{% block title %} Archived Threads {% endblock %}
{% block content %}
<div class="container">
    <h1 class="title">Threads</h1>

    <!-- Search Form -->
    <form id="search-form">
        <input type="text" id="search-input" placeholder="Search threads...">
    </form>

    <div id="thread-table"></div>
</div><!-- .container-->

<script>
document.addEventListener('DOMContentLoaded', function() {
    var table = new Tabulator("#thread-table", {
        ajaxURL: "{% url 'get_archive_data' board %}",
        ajaxConfig:"GET",
        ajaxContentType : "application/json; charset=utf-8",
        ajaxContentType:"json",
        pagination: "local",
        paginationSize: 10,
        paginationDataSent: {
            "page": "page",
            "size": "size"
        },
        paginationDataReceived: {
            "last_page": "last_page",
            "page"  : "current_page",
            "data": "data"
        },
        layout: "fitColumns",
        columns: [
        { title: "ID", field: "id", sorter: "number" },
            { title: "Thread ID", field: "thread_id", sorter: "number", formatter: function(cell, formatterParams, onRendered) {
                var thread_id = cell.getValue();
                var board = cell.getData().board;
                var url = "/archive/" + board + "/thread/" + thread_id;
                return "<a href='" + url + "' target='_blank'>" + thread_id + "</a>";
            }},
            { title: "Board", field: "board", sorter: "string" },
            { title: "Title", field: "title", sorter: "string", formatter: function(cell, formatterParams, onRendered) {
                var thread_id = cell.getData().thread_id;
                var board = cell.getData().board;
                var url = "/archive/" + board + "/thread/" + thread_id;
                return "<a href='" + url + "' target='_blank'>" + cell.getValue() + "</a>";
            }},
            { title: "Status", field: "status", sorter: "string" },
            { title: "URL", field: "url", formatter: "link", formatterParams: { target: "_blank" } },
            { title: "Replies", field: "replies", sorter: "number" },
            { title: "Created At", field: "created_at", sorter: "datetime" },
            { title: "Last Updated", field: "last_updated", sorter: "datetime" }
        ],
        ajaxResponse: function(url, params, response) {
            if(response.error) {
                console.error("Error fetching data:", response.error);
                return [];
            }
            console.log(response);
            return  response.data;
            
        }
    });

    document.getElementById('search-input').addEventListener('input', function() {
        table.setFilter("title", "like", this.value);
    });
});
</script>
{% endblock %}